body {
    overflow-y: scroll;
}

#connectionselect {
    position: relative;
    margin-right: 20px;
    /*display: none;*/
}

div#grapharea {
    box-shadow: 0px 0px 2px #ccc;border : 1px solid #ddd;
}

input[type=radio] {
    visibility: hidden;padding: 4px;
}

/* http://www.colourlovers.com/palette/3729999/The_light_was_here.. */

#button1 {
    background: #13364B;
}

#button2 {
    background: #1D9880;
}

#button3 {
    background: #D5F271;
}

#button4 {
    background: #FC8236;
}

#button5 {
    background: #A01852;
}

.roundedOne {
	width: 28px;height: 28px;
	margin: 2px; border-radius: 50px;
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	position: relative;display: inline-block;
}

.roundedOne label {
    cursor: pointer; position: absolute; width: 20px; height: 20px;
    border-radius: 50px; left: 4px; top: 4px;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
    opacity: 0.4; background: white;
}
.roundedOne label:hover {
    opacity: 0.7;
}
.roundedOne label:after {
	opacity: 0;
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	background: black;
	border-radius: 50px;
	top: 2px;
	left: 2px;
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
}

.roundedOne label:hover::after { opacity: 0.7; }
.roundedOne input[type=radio]:checked + label { opacity: 1; }
.roundedOne input[type=radio]:checked + label:after { opacity: 1; }